.grid-margin {
  margin-bottom: 100px;
  @media (max-width: 992px) {
    margin-bottom: 75px;
  }
  @media (max-width: 756px) {
    margin-bottom: 60px;
  }
}
.grid-margin-lg-0 {
  @media (min-width: 992px) {
    margin-bottom: 0px;
  }
}

.stretch-card {
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  .card{
    width: 100%;
    min-width: 100%;
  }
}


.btn-gray {
  background: #eeeeee;
  cursor: not-allowed !important;
}
.CENTER {
  display: flex;
  justify-content: center;
  align-items: center;
}

.STRETCH {
  width: 100%;
  height: 100%;
}
