@import "../../variables";
.LegislationQuiz {
  .LegislationTitle {
    @include media("<330px") {
      font-size: 5vw !important;
    }
    @include media("<phone") {
      font-size: 5vw !important;
    }
    @include media(">phone", "<=tablet") {
      font-size: 5vw !important;
    }
    @include media(">tablet", "<=desktop") {
      font-size: 2vw !important;
    }
    @include media(">desktop") {
      font-size: 24px !important;
    }
  }
 
}

.legislation-arguments {
  h6 {
    padding: 10px
  }
  &.legislation-arguments-against {
    h6 {
      border: 1px solid #ff0000;
      border-radius: 5px;
    }
  }
  &.legislation-arguments-for {
    h6 {
      border: 1px solid #5ed6b3;
      border-radius: 5px;
    }
  }
}