.Cookies {
  background: #1e88e5;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1100;
  padding-top: 20px;
  padding-bottom: 20px;
  .concent-text{
      color: white
  }
  a {
      color: white;
  }
}
